<div class="col-md-4 offset-md-4">
    <div class="card">
        <div class="card-body">
        <div class="card-header bg-light d-flex justify-content-between">
            <h1>Registrarse: </h1>
        </div>
        <form action="">
            <div class="form-group">
                <input type="text" name="username"  placeholder="Usuario" class="form-control" autofocus [(ngModel)]="newUser.username" >
            </div>
            <div class="form-group">
                <input type="email" name="correo"  placeholder="Correo" class="form-control"  [(ngModel)]="newUser.correo">
            </div>
            <div class="form-group">
                <input type="text" name="nombres"  placeholder="Nombre" class="form-control"  [(ngModel)]="newUser.nombres">
            </div>
            <div class="form-group">
                <input type="text" name="apellidos"  placeholder="Apellidos" class="form-control"  [(ngModel)]="newUser.apellidos">
            </div>
            <div class="form-group">
                <input type="password" name="constrasena"  placeholder="Contraseña" class="form-control"  [(ngModel)]="newUser.constrasena">
            </div>
            <div class="form-group">
                <input type="text" name="dpi"  placeholder="DPI" class="form-control"  [(ngModel)]="newUser.dpi">
            </div>
            <div class="form-group">
                <input type="number" name="edad"  placeholder="Edad" class="form-control"  [(ngModel)]="newUser.edad">
            </div>
            <button class="btn btn-success btn-block" (click)="registrar()">
                Registrar
            </button>
        </form>
        </div>
    </div>
</div>