<div class="alert alert-primary" role="alert">
    <h1>Catalogo</h1>
</div>
<!-- ----------------------------------------------------------------------------------------------- -->

<!-- Tabla del catalogo -->
<table class="table">

    <thead class="thead-dark">
        <tr>
            <th scope="col">Imagen</th>                 <!-- cards.image -->
            <th scope="col">Plataforma</th>             <!-- cards.name -->
            <th scope="col">Precio</th>                 <!-- cards.chargeRate -->
            <th scope="col">Disponibilidad</th>         <!-- cards.availability -->
            <th scope="col"></th>                       <!-- boton de compra -->
        </tr>
    </thead>

    <!--    -->

    <tbody>
        <tr *ngFor="let item of cards">
            <td> <img src="{{item.image}}" width="200" height="200"> </td>
            <td> {{item.name}}          </td>
            <td> {{item.chargeRate}}    </td>
            <td> {{item.availability}}  </td>
            <td>
                <button class="btn-success" (click)="addCarrito(item)"><i class="fas fa-cart-plus"></i> &nbsp;&nbsp; Agregar</button>
            </td>
        </tr>
    </tbody>

</table>
<!-- ----------------------------------------------------------------------------------------------- -->